<!DOCTYPE html>
<html lang="id">
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <meta charset="UTF-8">
    <title>Konversi Gambar ke Grayscale - DetecTone</title>
</head>
<body>
    <div class="background"></div>
    <header>
        <div class="logo">
            <a href="{{ url_for('index') }}">
                <img src="{{ url_for('static', filename='foto/detectone.jpg') }}" alt="DetecTone">
            </a>
        </div>
        <nav>
            <button>Bantuan</button>
            <button>Masuk/Daftar</button>
            <button>Tentang Kami</button>
        </nav>
    </header>

    <main>
        <h1>Konversi Gambar ke Grayscale</h1>
        <p>Konversi gambar ke grayscale dengan cepat dan mudah menggunakan DetecTone. Cukup unggah gambar, lalu sistem akan mengubahnya menjadi skala abu-abu dengan akurasi tinggi. Prosesnya efisien, mendukung berbagai kebutuhan desain dan analisis visual. Ubah gambar ke grayscale dalam hitungan detik dengan teknologi canggih dari DetecTone.</p>

        <section>
            <div class="tool-container">
                <h3>Input Gambar</h3>
                <div id="drop-area">
                    <p>atau letakkan gambar di sini</p>
                    <img id="preview-image">
                </div>
                <button id="upload-btn" class="upload-btn">Unggah Gambar</button>
                <input type="file" id="file-input" accept="image/*" style="display: none;">
            </div>

            <div class="tool-container">
                <h3>Hasil Konversi ke Grayscale</h3>
                <div id="result-container">
                    <img id="result-image">
                </div>
            </div>
        </section>
        
        <div class="button-container">
            <button id="process-btn" class="process-btn">Proses ke Grayscale</button>
            <button id="save-btn" class="save-btn">Simpan Gambar</button>
        </div>
    </main>

    <footer>
        <p>&copy; 2025 DetecTone. Hak Cipta Dilindungi.</p>
    </footer>
    
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>
