<!DOCTYPE html>
<html lang="id">
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <meta charset="UTF-8">
    <title>Konversi Warna ke HSV - DetecTone</title>
</head>
<body>
    <div class="background"></div>
    <header>
        <div class="logo">
            <a href="{{ url_for('index') }}">
                <img src="{{ url_for('static', filename='foto/detectone.jpg') }}" alt="DetecTone">
            </a>
        </div>
        <nav>
            <button>Bantuan</button>
            <button>Masuk/Daftar</button>
            <button>Tentang Kami</button>
        </nav>
    </header>