<!DOCTYPE html>
<html lang="id">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DetecTone - Deteksi Warna</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <div class="backgroundindex"></div>
    <header>
        <div class="logo">
            <img src="{{ url_for('static', filename='foto/detectone.jpg') }}" alt="Logo DetecTone">
        </div>
        <nav>
            <button>Bantuan</button>
            <button>Masuk/Daftar</button>
            <button>Tentang Kami</button>
        </nav>
    </header>

    <div class="container">
        <div class="split-image-container">
            <div class="split-image">
                <div class="img-wrapper">
                    <img src="{{ url_for('static', filename='foto/hitam.jpg') }}" class="img img-after">
                </div>
                <div class="img-wrapper img-before-wrapper">
                    <img src="{{ url_for('static', filename='foto/hitam.jpg') }}" class="img img-before" style="filter: grayscale(100%);">
                </div>
                <div class="slider-handle" id="sliderHandle"></div>
                <div class="label-before">sebelum</div>
                <div class="label-after">setelah</div>
            </div>
        </div>
